{% extends "ProfideoLeagueBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/profideoleague/css/morris/morris.css') }}">
{% endblock %}


{% block sectionTitle -%}
    Statistiques
{% endblock %}

{% block content -%}

    <ul class="nav nav-tabs">
        {% for gameType in gameTypes %}
            {% if gameType.getLeagues()|length > 0 %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ gameType.getLabel() }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for league in gameType.getLeagues() %}
                            <li><a data-toggle="tab" data-gametype="{{ gameType.getId() }}" data-league="{{ league.getId() }}" href="#league_{{ league.getId() }}">{{ league.getName() }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

            {% endif %}
        {% endfor %}
    </ul>


    <div class="panel-body">
        <div class="tab-content">

            {% for gameType in gameTypes %}
                {% if loop.first %} {% set firstGameType = true %} {% else %} {% set firstGameType = false %} {% endif %}

                {% for league in gameType.getLeagues() %}
                    {% if gameType.getCurrentSeason() %}

                        {#{% set games = gameType.getCurrentSeason().getGamesByLeague(league.id) %}#}
                        <div id="league_{{ league.getId() }}" class="tab-pane fade">
                            <div class="row">
                                <div class="section-title col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <h1>{{ league.getName() }}</h1>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="selectSeason">Saison:</label>
                                        <select id="selectSeason_{{ gameType.getId() }}_{{ league.getId() }}" data-gametype="{{ gameType.getId() }}" data-league="{{ league.getId() }}" class="selectSeason selectpicker">
                                            {% for season in gameType.getSeasons() %}
                                                <option {% if season.getId() == gameType.getCurrentSeason().getId() %} selected {% endif %} value="{{ season.getId() }}">{{ season.getName() }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="team-member">
                                        <div class="team-member-info">
                                            <ul>
                                                <li class="team-member-name">
                                                    <h2>Buts marqués</h2>
                                                </li>
                                                <li>
                                                    <div id="chats_buts_{{ gameType.getId() }}_{{ league.getId() }}" style="height: 250px;"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="team-member">
                                        <div class="team-member-info">
                                            <ul>
                                                <li class="team-member-name">
                                                    <h2>Buts encaissés</h2>
                                                </li>
                                                <li>
                                                    <div id="chats_buts2_{{ gameType.getId() }}_{{ league.getId() }}" style="height: 250px;"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="team-member">
                                        <div class="team-member-info">
                                            <ul>
                                                <li class="team-member-name">
                                                    <h2>Matchs</h2>
                                                </li>
                                                <li>
                                                    <div id="bar-games_{{ gameType.getId() }}_{{ league.getId() }}" style="height: 250px;"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-12" id="classement_{{ gameType.getId() }}_{{ league.getId() }}"></div>
                            </div>

                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    {#<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="selectSeason">Saison:</label>
                <select id="selectSeason" class="selectpicker">
                    {% for season in seasons %}
                        <option {% if loop.index == loop.length %} selected {% endif %} value="{{ season.getId() }}"> {{ season.getName() }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="selectLeague">League:</label>
                <select id="selectLeague" class="selectpicker">
                    {% for league in leagues %}
                        <option {% if loop.index == loop.length %} selected {% endif %} value="{{ league.getId() }}"> {{ league.getName() }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>#}

    {#<div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="team-member">
                <div class="team-member-info">
                    <ul>
                        <li class="team-member-name">
                            <h2>Buts marqués</h2>
                        </li>
                        <li>
                            <div id="chats_buts" style="height: 250px;"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="team-member">
                <div class="team-member-info">
                    <ul>
                        <li class="team-member-name">
                            <h2>Buts encaissés</h2>
                        </li>
                        <li>
                            <div id="chats_buts2" style="height: 250px;"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="team-member">
                <div class="team-member-info">
                    <ul>
                        <li class="team-member-name">
                            <h2>Matchs</h2>
                        </li>
                        <li>
                            <div id="bar-games" style="height: 250px;"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>#}



{% endblock %}

{% block javascripts %}
    <script type="text/javascript">



    </script>

    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/profideoleague/js/statistiques.js') }}"></script>
    <script src="{{ asset('bundles/profideoleague/js/morris/morris.min.js') }}"></script>
    <script src="{{ asset('bundles/profideoleague/js/morris/raphael-min.js') }}"></script>

{% endblock %}

