<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
        Profideo Leagues
        {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{{ asset('bundles/profideoleague/img/favicon.png') }}" />
    {% block stylesheets %}
        <!-- Custom CSS -->
        <link href="{{ asset('bundles/profideoleague/css/custom.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/profideoleague/css/main.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/profideoleague/css/bootstrap.css') }}" type="text/css" media="all" />

        <link rel="stylesheet" href="{{ asset('bundles/profideoleague/css/profideoleague.css') }}" type="text/css" media="all" />



        <!-- Custom Fonts & Icons -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('bundles/profideoleague/css/icomoon-social.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/profideoleague/css/font-awesome.css') }}" type="text/css" media="all" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    {% endblock %}

    <script src="{{ asset('bundles/profideoleague/js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
</head>
<body>


<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('profideo_league_homepage') }}"><img src="{{ asset('bundles/profideoleague/img/logos/logo-profideo-league.png') }}" alt="Profideo"></a>
        </div>
        <div id="user-infos" data-user="{{ app.user.getId() }}">
            <div class="ng_games_left"></div>
            <div id="ng_games_left_bar">
                <p></p>
                <div></div>
                <progress value="0" min="0" max="100">0%</progress>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            {{ render(controller("ProfideoLeagueBundle:Default:navigation")) }}
        </div>
    </div>
</header><!--/header-->

<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% block sectionTitle %}{% endblock %}</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% include 'ProfideoLeagueBundle::chat.html.twig' %}

{% block modals %}
{% endblock %}

<!-- Footer -->
<div class="footer">
    <div class="container">

        <div class="row">

            <div class="col-footer col-md-4 col-xs-6">
                <h3>Navigation</h3>
                <ul class="footer-navigation">
                    <li><a href="{{ path('profideo_league_homepage') }}">Home</a></li>
                    <li><a href="{{ path('profideo_league_statistiques_index') }}">Statistiques</a></li>
                </ul>
            </div>
            <div class="col-footer col-md-4 col-xs-6">
                <h3>Réseaux sociaux</h3>
                {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>#}
                <div>
                    {#<img src="{{ asset('bundles/profideoleague/img/icons/facebook.png') }}" width="32" alt="Facebook">#}
                    <a href="https://twitter.com/TechProfideo" targer="_blank">
                        <img src="{{ asset('bundles/profideoleague/img/icons/twitter.png') }}" width="32" alt="Twitter">
                    </a>
                    {#<img src="{{ asset('bundles/profideoleague/img/icons/linkedin.png') }}" width="32" alt="LinkedIn">
                    <img src="{{ asset('bundles/profideoleague/img/icons/rss.png') }}" width="32" alt="RSS Feed">#}
                </div>
            </div>
            {#<div class="col-footer col-md-4 col-xs-6">
                <h3>About Our Company</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
            </div>#}

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright">&copy; 2017{% if "now"|date("Y") > '2017' %}-{{ "now"|date("Y") }}{% endif %} Profideo Leagues</div>
            </div>
        </div>
    </div>
</div>


</body>
{% block javascripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<script type="text/javascript" src="{{ asset('bundles/profideoleague/js/jquery-2.1.4.js') }}"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{{ asset('bundles/profideoleague/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('bundles/profideoleague/js/utils.js') }}"></script>
<script src="{{ ddns_host }}:{{ ddns_port }}/socket.io/socket.io.js"></script>
<script type="text/javascript" src="{{ asset('bundles/profideoleague/js/nodejs/client.js') }}"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-fr_FR.min.js"></script>
<script type="text/javascript" src="http://www.myersdaily.org/joseph/javascript/md5.js"></script>

<script type="text/javascript" src="{{ asset('bundles/profideoleague/js/jquery.easing.min.js') }}"></script>
<script src="{{ asset('bundles/profideoleague/js/scrolling-nav.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/profideoleague/js/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/profideoleague/js/bootbox.min.js') }}"></script>

<!-- Scrolling Nav JavaScript -->
{% endblock %}
</html>
