<div class="chat">
    <div class="chat-messages-title">
        Discussion en cours <div id="hideChat" class="btn"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
    <div class="chat-messages">

    </div>
    <form action="" id="formChat">
        <input type="text" id="message" class="text"/>
        <input type="submit" id="send" value="Envoyer mon message !" class="submit"/>
    </form>
</div>
<div id="showChat" class="btn"><i class="fa fa-weixin fa-2x" aria-hidden="true"></i></div>
