<ul class="nav navbar-nav navbar-right">
    <li class="active"><a href="{{ path('profideo_league_homepage') }}">Home</a></li>
    {#<li ><a href="about-us.html">About Us</a></li>
    <li><a href="services.html">Services</a></li>
    <li><a href="portfolio.html">Portfolio</a></li>#}

    <li><a href="{{ path('profideo_league_statistiques_index') }}">Statistiques</a></li>

    {% if app.user.isAdmin() %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-cog" aria-hidden="true"></i> <i class="fa fa-chevron-down"></i></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('profideo_league_params_gametypes') }}">Activités</a></li>
            <li><a href="{{ path('profideo_league_params_leagues') }}">Leagues</a></li>
            <li><a href="{{ path('profideo_league_params_users') }}">Joueurs</a></li>
        </ul>
    </li>
    {% endif %}

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img id="profil_image" class="nav-profil"
                 src="{{ app.user.gravatar() }}"
                 title="{{ app.user.getUsername() }}"
                 data-avatar="{{ app.user.gravatar() }}"
                 data-username="{{ app.user.getUsername() }}"
                 data-email="{{ app.user.getEmail() }}"/>
            <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('profideo_league_profil') }}">Mon Profil <i class="fa fa-user"></i></a></li>
            <li><a href="{{ path('logout') }}">Déconnexion <i class="fa fa-sign-out"></i></a></li>
        </ul>
    </li>
</ul>
