{% extends "ProfideoLeagueBundle::base.html.twig" %}

{% block sectionTitle -%}
    Profil
{% endblock %}

{% block content -%}

    <div class="panel-body">
        <div class="tab-content">

            <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3"></div>
            <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
                <div class="team-member">
                    <div class="team-member-info">
                        <ul>
                            <li>

                                {{ form_start(form) }}
                                {% if form.vars.errors is not empty %}
                                    <div class="alert alert-warning form-error">{{ form_errors(form) }}</div>
                                {% endif %}
                                {#{{ form_errors(form.username) }}
                                {{ form_errors(form.lastname) }}
                                {{ form_errors(form.firstname) }}
                                {{ form_errors(form.email) }}#}
                                {#{{ form_errors(form.rawPassword.first) }}
                                {{ form_errors(form.rawPassword.second) }}#}

                                {#{{ form_errors(form.avatar) }}#}

                                <div class="form-field row">
                                    <div class="col-lg-4">
                                        {{ form_label(form.username) }}
                                    </div>
                                    <div class="col-lg-8">
                                        {{ form_widget(form.username) }}
                                    </div>
                                </div>
                                <div class="form-field row">
                                    <div class="col-lg-4">
                                        {{ form_label(form.lastname) }}
                                    </div>
                                    <div class="col-lg-8">
                                        {{ form_widget(form.lastname) }}
                                    </div>
                                </div>
                                <div class="form-field row">
                                    <div class="col-lg-4">
                                        {{ form_label(form.firstname) }}
                                    </div>
                                    <div class="col-lg-8">
                                        {{ form_widget(form.firstname) }}
                                    </div>
                                </div>
                                <div class="form-field row">
                                    <div class="col-lg-4">
                                        {{ form_label(form.email) }}
                                    </div>
                                    <div class="col-lg-8">
                                        {{ form_widget(form.email) }}
                                    </div>
                                </div>
                                <div class="form-field row">
                                    {{ form_widget(form.password) }}
                                </div>
                                <div class="form-field row">
                                    <div class="col-lg-4">
                                        {{ form_label(form.avatar) }}
                                    </div>

                                    <div class="col-lg-8">
                                        {% if app.user.getAvatar()|length > 0 %}
                                                <img style="float:left;" src="{{ asset( 'users/' ~ user.avatar) }}" class="avatar" width="50" height="50" />
                                                <div style="float:left;" id="removeAvatar" data-user="{{ user.getId() }}" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i></div>

                                        {% endif %}
                                        {{ form_widget(form.avatar) }}
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                                {{ form_end(form) }}

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3"></div>

        </div>
    </div>




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/profideoleague/js/profil.js') }}"></script>
{% endblock %}

