Bonjour {{ user.getFirstname() }} {{ user.getLastname() }}, <br><br>

Vous venez d'être inscrit à la plateforme Profideo Leagues.<br>
Voici les informations vous concernant:<br><br>

Lien: {{ domaine }} <br>
Identifiant: {{ user.getUsername() }} <br>
Mot de passe: {{ user.getUsername() }} <br><br>

{% if user.getLeagues()|length > 0 %}
    League(s):<br>
    {% for league in user.getLeagues() %}
        - {{ league.getName() }} ({{ league.getGameType().getLabel() }})<br>
    {% endfor %}
    <br><br>
{% endif %}
ps: veuillez modifier votre mot de passe lors de votre première connexion<br><br>
<img src="{{ image }}" alt="Profideo" height="100">