/* tmp chat */

#showChat{
    position: fixed;
    bottom: 10px;
    left: 10px;
}
.chat{
    background: #2e3136 none repeat scroll 0 0;
    display: block;
    height: calc(100% - 50px);
    left: 0;
    position: fixed;
    top: 96px;
    width: 250px;
    z-index: 10000;
    color: #fff;
    display:none;
}
.chat-messages-title{
    width: 100%;
    height: 30px;
    text-align: center;
}
.chat-messages{
    width: 100%;
    height: calc(100% - 145px);
    overflow: auto;
}
.chat-messages.message-seperator{
    border-bottom: 1px solid #fff;
}
.chat-message{
    width: 100%;
    height: auto;
}
.chat-message .user{
    float: left;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3000px;
    cursor: pointer;
}
.chat-message .message{
    float: left;
    width: calc(100% - 30px);
    border-radius: 8px;
    min-height: 36px;
}
#formChat{
    height: 50px;
    width: 100%;
    color: #2e3136;
}
#formChat input{
    float: left;
}
#formChat input:first-child{
    width: 80%;
}
#formChat input:last-child{
    width: 20%;
}
/* end tmp chat */

.nav-profil{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    margin-top: -5px;
}
.avatar{
    border-radius: 50%;
}
.navbar-brand img {
    height: 80px;
    margin-top: -25px;
}

.top-nav-collapse .navbar-brand img{
    height: 48px;
    margin-top: -10px;
}
.team-member-info{
    padding-top: 20px;
}
.games_row{
    width: 100%;
    min-height: 26px;
}
.games_row label {
    line-height: 30px;
    overflow: hidden;
    /*max-width: 50px;*/
    /*text-overflow: ellipsis;*/
}
.games_row .login {
    padding: 0;
}
.games_row img {
    vertical-align: top;
}
.games_row input {
    display: inline-block;
    height: 25px;
    width: 50px;
}
.games_row .btn{
    border-radius: 10px;
}

.avatar{
    border-radius: 30px;
}

#user-infos{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 20px;
    width: auto;
}
.top-nav-collapse #user-infos {
    top: 0;
}

#ng_games_left_bar{
    width: 120px;
    margin: auto;
}
#ng_games_left_bar p{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    font-size: 10px;
}
#ng_games_left_bar div{
    font-size: 10px;
    margin-left: 40%;
    margin-top: 3px;
    position: absolute;
    width: auto;
}
#ng_games_left_bar progress{
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 120px;
    height: 20px;
    padding: 3px 3px 2px 3px;
    background: #333;
    background: -webkit-linear-gradient(#2d2d2d,#444);
    background:    -moz-linear-gradient(#2d2d2d,#444);
    background:      -o-linear-gradient(#2d2d2d,#444);
    background:         linear-gradient(#2d2d2d,#444);
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 15px;
    box-shadow: 0 1px 0 rgba(255,255,255,.2);
}
/* Style de la barre pour Firefox*/
#ng_games_left_bar progress::-moz-progress-bar{
    border-radius:10px;
    background: #09c;
    background: -moz-repeating-linear-gradient(
            45deg,
            rgba(255,255,255,.2) 0,
            rgba(255,255,255,.2) 10px,
            rgba(255,255,255,0) 10px,
            rgba(255,255,255,0) 20px
    ),
    -moz-linear-gradient(
            rgba(255,255,255,.1) 50%,
            rgba(255,255,255,0) 60%
    ), #09c;
    background:
    repeating-linear-gradient(
            45deg,
            rgba(255,255,255,.2) 0,
            rgba(255,255,255,.2) 10px,
            rgba(255,255,255,0) 10px,
            rgba(255,255,255,0) 20px
    ),
    linear-gradient(
            rgba(255,255,255,.1) 50%,
            rgba(255,255,255,0) 60%
    ), #09c;
    background-size: 300px 20px, auto, auto;
    background-position: -300px 0, top, top;
    background-position: top right, top, top;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
    0 -1px 0 rgba(0,0,0,.8) inset,
    0 0 2px black;

}

/* Style de la barre pour Chrome*/
#ng_games_left_bar progress::-webkit-progress-value{

    /* Code identique mais avec les bons préfixes! */
    border-radius:10px;
    background: #09c;
    background: -webkit-repeating-linear-gradient(
            45deg,
            rgba(255,255,255,.2) 0,
            rgba(255,255,255,.2) 10px,
            rgba(255,255,255,0) 10px,
            rgba(255,255,255,0) 20px
    ),
    -webkit-linear-gradient(
            rgba(255,255,255,.1) 50%,
            rgba(255,255,255,0) 60%
    ), #09c;
    background:
    repeating-linear-gradient(
            45deg,
            rgba(255,255,255,.2) 0,
            rgba(255,255,255,.2) 10px,
            rgba(255,255,255,0) 10px,
            rgba(255,255,255,0) 20px
    ),
    linear-gradient(
            rgba(255,255,255,.1) 50%,
            rgba(255,255,255,0) 60%
    ), #09c;
    background-size: 300px 20px, auto, auto;
    background-position: -300px 0, top, top;
    background-position: top right, top, top;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
    0 -1px 0 rgba(0,0,0,.8) inset,
    0 0 2px black;
}

/* Enlève la couleur d'arrière-plan pour chrome*/
#ng_games_left_bar progress::-webkit-progress-bar{
    background: transparent;
}

.btn-validate{
    background: #aec62c;
    margin-left: -12px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
    background-color: #aec62c;
    cursor: pointer;
}

.form-error ul{
    margin: auto;
}

.form-field .error ul{
    background: purple none repeat scroll 0 0;
    display: table;
    list-style: outside none none;
    padding: 5px;
    position: absolute;
    right: 0;
}

#profil_password label{
    width: 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
}
#profil_password input{
    margin-left: 15px;
    width: 35.667%;
}
.footer-navigation{
    list-style: outside none none;
}
.footer-navigation li a, .footer-navigation li a:hover, .footer-navigation li a:active, .footer-navigation li a:visited{
    color: #fff;
}
.footer {
    position: absolute;
    width: 100%;
}