{% extends "ProfideoLeagueBundle::base.html.twig" %}

{% block sectionTitle -%}
    Accueil
{% endblock %}

{% block content -%}

    <ul class="nav nav-tabs">
        {% for gameType in gameTypes %}
            {% if gameType.getLeagues()|length > 0 %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ gameType.getLabel() }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for league in gameType.getLeagues() %}
                            <li><a data-toggle="tab" href="#league_{{ league.getId() }}">{{ league.getName() }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

            {% endif %}
        {% endfor %}
    </ul>

    <div class="panel-body">
        <div class="tab-content">

            {% for gameType in gameTypes %}
                {% if loop.first %} {% set firstGameType = true %} {% else %} {% set firstGameType = false %} {% endif %}

                {% for league in gameType.getLeagues() %}
                    {% if gameType.getCurrentSeason() %}

                        {% set games = gameType.getCurrentSeason().getGamesByLeague(league.id) %}
                        <div id="league_{{ league.id }}" class="tab-pane fade{% if loop.first and firstGameType %} active in{% endif %}">
                            <div class="row">
                                <div class="section-title">
                                    {#{{ league.getName() }} - {{ gameType.getCurrentSeason().getName() }}#}
                                    <h2>{{ league.getName() }} - {{ gameType.getCurrentSeason().getName() }}</h2>
                                </div>
                            </div>
                            <div class="row text-center">
                                <br>
                                {% if gameType.getCurrentSeason().getGames()|length == 0 %}
                                    <a data-season="{{ gameType.getCurrentSeason().getId() }}" data-gametype="{{ gameType.getId() }}" class="btn btn-generate">Générer la saison</a>
                                {% elseif gameType.getCurrentSeason().noGamesIsPlayed() %}
                                    <a data-season="{{ gameType.getCurrentSeason().getId() }}" data-gametype="{{ gameType.getId() }}" class="btn btn-generate">Régénérer la saison</a>
                                {% endif %}

                                <!-- générer la saison suivante si tous les matchs de la saison en cours sont terminés -->
                                {% if gameType.getCurrentSeason().is_done() %}
                                    <a data-season="{{ gameType.getCurrentSeason().getId() }}" data-gametype="{{ gameType.getId() }}" class="btn btn-generate">Générer la saison suivante</a>
                                {% endif %}
                                <br> <br>
                            </div>
                            <div class="row">
                                <div id="calendarToPlay" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    {{ render(controller("ProfideoLeagueBundle:Game:calendar",
                                    {'isdone': false, 'league': league.getId() })) }}
                                    {#{% include 'ProfideoLeagueBundle:Game:calendar.html.twig' with { 'title': , 'games': games, 'isDone': false, 'edit': true } %}#}
                                </div>
                                <div id="calendarIsDone" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    {{ render(controller("ProfideoLeagueBundle:Game:calendar",
                                    {'isdone': true, 'league': league.getId() })) }}
                                    {#{% include 'ProfideoLeagueBundle:Game:calendar.html.twig' with { 'title': 'Matchs terminés', 'games': games, 'isDone': true, 'edit': false } %}#}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" id="classement_{{ gameType.getCurrentSeason().getId() }}_{{ league.getId() }}">
                                    {{ render(controller("ProfideoLeagueBundle:League:classement",
                                    {'season_id': gameType.getCurrentSeason().getId(), 'league_id': league.getId() })) }}
                                </div>
                            </div>
                        </div>


                    {% else %}

                        <div id="league_{{ league.id }}" class="tab-pane fade{% if loop.first and firstGameType %} active in{% endif %}">
                            <div class="row">
                                <div class="section-title">
                                    <h1>{{ league.getName() }}</h1>
                                </div>
                            </div>
                            <div class="row text-center">
                                {% if league.getUsers()|length > 0%}
                                    <a data-season="0" data-gametype="{{ gameType.getId() }}" class="btn btn-generate">Générer la 1ère saison</a>
                                {% else %}
                                    Veuillez affecter des joueurs dans la ou les leagues pour {{ gameType.getLabel() }}
                                {% endif %}

                            </div>
                        </div>

                    {% endif %}

                {% endfor %}
            {% endfor %}
        </div>
    </div>





   {# <ul class="nav nav-pills nav-stacked">
        {% for gameType in gameTypes %}
            {% if loop.first %} {% set firstGameType = true %} {% else %} {% set firstGameType = false %} {% endif %}

            {% if gameType.getLeagues()|length == 0 %}
                <li {% if firstGameType %} class="active" {% endif %}><a href="#">{{ gameType.label }}</a></li>
            {% else %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ gameType.label }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for league in gameType.getLeagues() %}
                            <li {% if firstGameType %} class="active" {% endif %}><a href="#league_{{ league.getId() }}">{{ league.getName() }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}



        {% endfor %}
    </ul>#}

{#{% for gameType in gameTypes %}
    <div class="panel-body">
        <div class="tab-content">
            {% if gameType.getCurrentSeason() %}
                &#123;&#35;{{ gameType.getCurrentSeason().getName() }}&#35;&#125;

                <!-- si aucun match n'a été créer ou aucun match joués, on donne la possibilité de générer la saison -->
                {% if gameType.getCurrentSeason().getGames()|length == 0 %}
                    <a data-season="{{ gameType.getCurrentSeason().getId() }}" data-gametype="{{ gameType.getId() }}" class="btn btn-generate">Générer la saison</a>
                {% elseif gameType.getCurrentSeason().noGamesIsPlayed() %}
                    <a data-season="{{ gameType.getCurrentSeason().getId() }}" data-gametype="{{ gameType.getId() }}" class="btn btn-generate">Régénérer la saison</a>
                {% endif %}

                <!-- générer la saison suivante si tous les matchs de la saison en cours sont terminés -->
                {% if gameType.getCurrentSeason().is_done() %}
                    <a data-season="{{ gameType.getCurrentSeason().getId() }}" data-gametype="{{ gameType.getId() }}" class="btn btn-generate">Générer la saison suivante</a>
                {% endif %}


                {% if gameType.getLeagues()|length > 0 %}

                            {% for league in gameType.getLeagues() %}
                                {% set games = gameType.getCurrentSeason().getGamesByLeague(league.id) %}
                                <div id="league1_{{ league.id }}" class="tab-pane fade{% if loop.first %} active in{% endif %}">
                                    <div class="row">
                                        <div class="section-title">
                                            <h1>{{ league.getName() }}</h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            {% include 'ProfideoLeagueBundle:Game:calendar.html.twig' with { 'title': 'Matchs à jouer', 'games': games, 'isDone': false, 'edit': true } %}
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            {% include 'ProfideoLeagueBundle:Game:calendar.html.twig' with { 'title': 'Matchs terminés', 'games': games, 'isDone': true, 'edit': false } %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12" id="classement_{{ gameType.getCurrentSeason().getId() }}_{{ league.getId() }}">
                                            {{ render(controller("ProfideoLeagueBundle:League:classement",
                                            {'season_id': gameType.getCurrentSeason().getId(), 'league_id': league.getId() })) }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                {% endif %}

            {% else %}
                <a data-season="0" data-gametype="{{ gameType.getId() }}" class="btn btn-generate">Générer la 1ère saison</a>
            {% endif %}

        </div>
    </div>
{%  endfor %}#}




    {#{% set vars = {'foo': 'bar'} #}


    {#{% include 'ProfideoLeagueBundle::Game.games.twig' %}

    {{ render(controller(
    'AppBundle:Article:recentArticles',
    { 'max': 3 }
    )) }}#}

    {#{%  for league in leagues %}
        {{ league.getUsers|length }}
    {% endfor %}#}
{% endblock %}
