<!DOCTYPE html>
<html>
<head>
    <title>
        ProfideoLeague - Connexion
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{{ asset('bundles/profideoleague/img/favicon.png') }}" />
    <!-- Custom CSS -->
    <link href="{{ asset('bundles/profideoleague/css/custom.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/profideoleague/css/main.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/profideoleague/css/bootstrap.css') }}" type="text/css" media="all" />

    <link rel="stylesheet" href="{{ asset('bundles/profideoleague/css/profideoleague.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/profideoleague/css/login.css') }}" type="text/css" media="all" />



    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/profideoleague/css/icomoon-social.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/profideoleague/css/font-awesome.css') }}" type="text/css" media="all" />
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/profideoleague/js/jquery-2.1.4.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/profideoleague/js/md5.js') }}"></script>
</head>
    <body>
        {% if error %}
            <div class="loginError">error: {{ error.message }}</div>
        {% endif %}

        <div class="login">
            <img class="logo_profideo" src="{{ asset('bundles/profideoleague/img/logos/logo-profideo-league.png') }}" alt="Profideo">
            {#<h1>Profideo League</h1>#}
            <form action={{ path('login_check') }} method="post">
                <input id="username" name="_username" type="text" placeholder="Username" value='{{ last_username }}' required="required">
                <input type="password" id="password" name="_password" placeholder="Password" required="required">
                <input type="submit" id="login-button" value="Connexion" class="btn btn-primary btn-block btn-large"/>
            </form>
            <img class="image_profil" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
        </div>

        <script type="text/javascript">
            (function ($) {

                "use strict";

                $(document).ready(function () {

                    $("#username").keypress(function(event){
                        var keycode = (event.keyCode ? event.keyCode : event.which);
                        if(keycode == '13'){
                            getAvatar();
                            event.preventDefault();
                        }
                    });

                    $("#username").focusout(function(event){
                        getAvatar();
                    });

                    function getAvatar(){
                        $.ajax({
                            type: 'POST',
                            url: Routing.generate('profideo_league_login_avatar'),
                            data: {
                                "username": $("#username").val()
                            },
                            success: function (data) {
                                if(data.gravatar){

                                    $('.image_profil').addClass('show');

                                    $('.image_profil').attr('src', data.gravatar);

                                    /*$('#profilImage').removeClass('profilImageDefault');
                                     $('#profilImage').removeClass('default');
                                     $("#profilImage").css("background-image", "url('" + data.img + "')");
                                     $('#profilImage').addClass('active');*/
                                    $("#password").focus();
                                }else{
                                    /*$('#profilImage').addClass('profilImageDefault');
                                     $('#profilImage').addClass('default');*/
                                    $('.image_profil').removeClass('show');

                                    $('.image_profil').attr('src', 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
                                    $("#password").val("");
                                }

                            }
                        });
                    }

                    if($("#username").val().length > 0){
                        getAvatar();
                    }



                });

            })(jQuery);



        </script>
    </body>
</html>