<h2 class="team-member-name">
    {% if isDone %}
        Matchs terminés
    {% else %}
        Matchs à jouer
    {% endif %}
</h2>


<div class="team-member calendar row">
    <div class="team-member-info">
        {% for game in games %}
            {% if isDone == false %}
                {% if game.getIsDone() == false %}
                    <div id="game_{{ game.getId() }}" class="form-group games_row">
                        <div class="col-xs-3 col-sm-4 col-md-3 col-lg-4 text-right login">
                            <label for="scoreHome_{{ game.getId() }}">{{ game.getUserHome().getUsername() }}</label>
                            <img class="avatar" src="{{ game.getUserHome().gravatar() }}" width="30"/>
                        </div>
                        <div class="col-xs-5 col-sm-3 col-md-5 col-lg-3 text-center">
                            <input id="scoreHome_{{ game.getId() }}" type="number" min="0" step="1" class="form-control" value="0" autocomplete="off">
                            <input id="scoreVisitor_{{ game.getId() }}" type="number" min="0" step="1" class="form-control" value="0" autocomplete="off">
                        </div>
                        <div class="col-xs-3 col-sm-4 col-md-3 col-lg-4 text-left login">
                            <img class="avatar" src="{{ game.getUserVisitor().gravatar() }}" width="30"/>
                            <label for="scoreVisitor_{{ game.getId() }}">{{ game.getUserVisitor().getUsername() }}</label>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <button type="button" data-game="{{ game.getId() }}" class="btn btn-validate game_done">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% endif %}
            {% else %}
                {% if game.getIsDone() == true %}
                    <div id="game_{{ game.getId() }}" class="form-group games_row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                            {{ game.getUserHome().getUsername() }}
                            <img class="avatar" src="{{ game.getUserHome().gravatar() }}" width="30">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
                            {{ game.getScoreHome() }} - {{ game.getScoreVisitor() }}
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                            <img class="avatar" src="{{ game.getUserVisitor().gravatar() }}" width="30"/>
                            {{ game.getUserVisitor().getUsername() }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>

{#
<h2 class="team-member-name">{{ title }}</h2>


<div class="team-member calendar row">
    <div class="team-member-info">
        {% for game in games %}
            {% if isDone == game.getIsDone() %}
                <div id="game_{{ game.getId() }}" class="form-group games_row">
                {% if true == edit %}
                        <div class="col-xs-3 col-sm-4 col-md-3 col-lg-4 text-right login">
                            <label for="scoreHome_{{ game.getId() }}">{{ game.getUserHome().getUsername() }}</label>
                            <img class="avatar" src="{{ game.getUserHome().gravatar() }}" width="30"/>
                        </div>
                        <div class="col-xs-5 col-sm-3 col-md-5 col-lg-3 text-center">
                            <input id="scoreHome_{{ game.getId() }}" type="number" min="0" step="1" class="form-control" value="0" autocomplete="off">
                            <input id="scoreVisitor_{{ game.getId() }}" type="number" min="0" step="1" class="form-control" value="0" autocomplete="off">
                        </div>
                        <div class="col-xs-3 col-sm-4 col-md-3 col-lg-4 text-left login">
                            <img class="avatar" src="{{ game.getUserVisitor().gravatar() }}" width="30"/>
                            <label for="scoreVisitor_{{ game.getId() }}">{{ game.getUserVisitor().getUsername() }}</label>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <button type="button" data-game="{{ game.getId() }}" class="btn btn-validate game_done">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    <div class="clearfix"></div>
                {% else %}
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                        {{ game.getUserHome().getUsername() }}
                        <img class="avatar" src="{{ game.getUserHome().gravatar() }}" width="30">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
                        {{ game.getScoreHome() }} - {{ game.getScoreVisitor() }}
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                        <img class="avatar" src="{{ game.getUserVisitor().gravatar() }}" width="30"/>
                        {{ game.getUserVisitor().getUsername() }}
                    </div>
                    <div class="clearfix"></div>
                {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
#}
