<h2 class="team-member-name">Classement</h2>

<div class="team-member">
    <div class="team-member-info">
        <ul>
            <li>
                <table class="table">
                    <thead>
                    <tr>
                        <td>N°</td>
                        <td>Joueur</td>
                        <td>Pts</td>
                        <td>MJ</td>
                        <td>V</td>
                        <td>N</td>
                        <td>P</td>
                        <td>Bp</td>
                        <td>Bc</td>
                        <td>Diff</td>
                    </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}

                            <tr     {% if league.getNumberToUpgrade() != 0 and loop.index <= numberToUpgrade %} class="success" {% endif %}
                                    {% if league.getNumberToDowngrade() != 0 and loop.index > (loop.length - numberToDowngrade) %} class="danger" {% endif %}>
                                <td>{{ loop.index }}</td>
                                <td>
                                    <img class="avatar" src="{{ user.user.gravatar() }}" width="30">
                                    {{ user.user.getUsername() }}
                                </td>
                                <td>{{ user.pts }}</td>
                                <td>{{ user.game_played }}</td>
                                <td>{{ user.g }}</td>
                                <td>{{ user.n }}</td>
                                <td>{{ user.p }}</td>
                                <td>{{ user.bp }}</td>
                                <td>{{ user.bc }}</td>
                                <td>{{ user.diff }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
</div>

