{% extends "ProfideoLeagueBundle::base.html.twig" %}

{% block sectionTitle -%}
    Paramétrage: Activités
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
{% endblock %}

{% block content -%}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="team-member">
                <div class="team-member-info">

                    <div id="toolbar" class="btn-group">
                        <button id="insertRow" type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                    </div>

                    <table id="table_gametypes"

                           data-sort-name="id"
                           data-sort-order="asc"
                           data-show-columns="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-search="true"
                           data-pagination="true"

                           data-toolbar="#toolbar"
                           data-click-to-select="true"
                           data-single-select="false"
                           data-page-size="20"
                           data-unique-id="id"
                            >
                        <thead>
                        <tr>
                            {#<th data-field="state" data-checkbox="true"></th>#}
                            <th data-field="id">Id</th>
                            <th data-field="label" data-sortable="true">Label</th>
                            <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block modals %}

    <!-- Modal -->
    <div id="gametypeForm" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Activité form</h4>
                </div>
                <div class="modal-body">
                    <form id="user_form">
                        <div class="form-group row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                                <label for="gametype_id">Id</label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
                                <label id="gametypeId"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                                <label for="label">Label</label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
                                <input id="label" type="text" class="form-control"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnFormGameType" type="button" class="btn btn-default">Valider</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

    </script>
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-fr-FR.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/profideoleague/js/gametypes.js') }}"></script>
{% endblock %}

