{% extends "ProfideoLeagueBundle::base.html.twig" %}

{% block sectionTitle -%}
    Paramétrage: Joueurs
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
{% endblock %}

{% block content -%}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="team-member">
                <div class="team-member-info">

                    <div id="toolbar" class="btn-group">
                        <button id="insertRow" type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                        <button id="sendMailsWelcome" type="button" class="btn btn-default">
                            <i class="fa fa-paper-plane"></i> Envoyer mail de bienvenue
                        </button>
                    </div>

                    <table id="table_users"

                           data-sort-name="id"
                           data-sort-order="asc"
                           data-show-columns="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-search="true"
                           data-pagination="true"

                           data-toolbar="#toolbar"
                           data-click-to-select="true"
                           data-single-select="false"
                           data-page-size="20"
                           data-unique-id="id"
                            >
                        <thead>
                        <tr>
                            {#<th data-field="state" data-checkbox="true"></th>#}
                            <th data-field="id"><i class="fa fa-hashtag" aria-hidden="true"></i></th>
                            <th data-field="username" data-sortable="true">Username</th>
                            <th data-field="fullname" data-sortable="true">Nom/Prénom</th>
                            <th data-field="email">Email</th>
                            <th data-field="leagues_names" data-sortable="true">League(s)</th>
                            <th data-field="is_admin" data-formatter="formatAdmin">Admin</th>
                            <th data-field="actived" data-formatter="formatActived">Actif</th>
                            <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block modals %}

    <!-- Modal -->
    <div id="userForm" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">User form</h4>
                </div>
                <div class="modal-body">
                    <form id="user_form">
                        <div class="form-group row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                                <label for="user_id">Id</label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
                                <label id="userId">1</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                                <label for="username">Username</label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
                                <input id="username" type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                                <label for="lastname">Nom</label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
                                <input id="lastname" type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                                <label for="firstname">Prénom</label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
                                <input id="firstname" type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
                                <input id="email" type="text" class="form-control"/>
                            </div>
                        </div>
                        {#{% if season.is_done() or season.getGames()|length == 0 %}#}
                        <div class="form-group row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                                <label for="selectLeague">League</label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
                                <select id="selectLeague" class="form-control selectpicker" multiple>
                                    {% for league in leagues %}
                                        <option name="{{ league.getId() }}" value="{{ league.getId() }}"> {{ league.getName() }} ({{ league.getGameType().getLabel() }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {#{% endif %}#}
                        <div class="form-group row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                                <label for="admin">Admin</label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
                                <label><input type="radio" name="admin" value="0" checked="checked" />Non</label>
                                <label><input type="radio" name="admin" value="1" />Oui</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnFormUser" type="button" class="btn btn-default">Valider</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

    </script>
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-fr-FR.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/profideoleague/js/users.js') }}"></script>
{% endblock %}

